<div class="hero-unit">
	<h1>Welcome to the home page!</h1>
	<p>
		youve found the homepage for the
		<%= link_to "example", "http://www.example.com" %>
		application.
	</p>
	<p> 
		<%= link_to "Sign Up Now!", "new_user_registration_path", class: "btn btn-primary btn-large" %>
	</p>

	<p>Find me in app/views/pages/home.html.erb</p>
</div>